body {
  background: url("./assets/papel.jpg");
  background-size: cover;
  font-family: "Century Gothic", Futura, sans-serif;
}
h1 { 
  color: #534340;
  text-shadow: 7px 4px 5px #e7ad55;
}
.juego {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fila-tablero {
  display: flex;
  flex-flow: row nowrap
}
.cuadrado {
  background-color: gray;
  color: white;
  border: 1px solid #999;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}
.cuadrado:focus {
  outline: none;
  background-color: #222;
}
.estado {
  margin: 20px;
  text-align: center;
  font-size: 28px;
}